name: Go Build for Multiple Platforms

on:
  push:
    tags:
      - 'v*.*.*'  # Trigger only on tags like v1.0.0, v1.1.0, etc.
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: # Allows manual triggering
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ linux, windows, darwin ]  # Multiple OS platforms
        arch: [ amd64, arm ]  # Added ARM support for Raspberry Pi 3B+
        exclude:
          - os: darwin
            arch: arm  # âŒ Remove invalid macOS/ARM pair

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.1'

    - name: Build the project
      run: |
        # Determine GOOS based on matrix OS
        GOOS=${{ matrix.os }}
        GOARCH=${{ matrix.arch }}
        
        # Set GOARM flag for ARM builds (for Raspberry Pi)
        if [ "$GOARCH" = "arm" ]; then
          GOARM=7
        fi

        echo "Building for $GOOS $GOARCH GOARM=${GOARM:-}"

        # Define build output directory
        BUILD_DIR="build/$GOOS/$GOARCH"
        mkdir -p $BUILD_DIR

        # Set output filename based on OS
        OUTPUT_NAME="untisDSB-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.os == 'windows' && '.exe' || '' }}"

        # Build the project
        env GOOS=$GOOS GOARCH=$GOARCH GOARM=${GOARM:-} go build -o $BUILD_DIR/$OUTPUT_NAME main.go

    - name: Test
      run: go test -v ./...

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: untisDSB-${{ matrix.os }}-${{ matrix.arch }}
        path: build/${{ matrix.os }}/${{ matrix.arch }}/untisDSB*
        if-no-files-found: error  # Fail workflow if build output is missing

    - name: List build artifacts
      run: ls -R build

  release:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')  # Ensure it only runs on version tags

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download all build artifacts
      uses: actions/download-artifact@v4
      with:
        path: build/

    - name: List downloaded files
      run: |
        echo "Downloaded build artifacts:"
        ls -R build/
        echo "Included Tampermonkey scripts:"
        ls -R tampermonkey/ || echo "No Tampermonkey scripts found."


    - name: Create GitHub Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ github.ref_name }}  # Use the pushed tag as the release tag
        files: |
          build/*/*
          tampermonkey/*.user.js
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Extract version from tag and Extract major, minor, and patch versions
        id: version_parts
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          IFS='.' read -r major minor patch <<< "${VERSION#v}"
          echo "MAJOR=${major}" >> $GITHUB_ENV
          echo "MINOR=${minor}" >> $GITHUB_ENV
          echo "PATCH=${patch}" >> $GITHUB_ENV
  
      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/fanny-leicht-gymnasium/untisdsb:${{ env.VERSION }} \
                        -t ghcr.io/fanny-leicht-gymnasium/untisdsb:v${{ env.MAJOR }} \
                        -t ghcr.io/fanny-leicht-gymnasium/untisdsb:v${{ env.MAJOR }}.${{ env.MINOR }} \
                        -t ghcr.io/fanny-leicht-gymnasium/untisdsb:latest .

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker Image with version, minor, major, and latest tags
        run: |
          docker push ghcr.io/fanny-leicht-gymnasium/untisdsb:${{ env.VERSION }}
          docker push ghcr.io/fanny-leicht-gymnasium/untisdsb:v${{ env.MAJOR }}
          docker push ghcr.io/fanny-leicht-gymnasium/untisdsb:v${{ env.MAJOR }}.${{ env.MINOR }}
          docker push ghcr.io/fanny-leicht-gymnasium/untisdsb:latest